:root {
    --color-body: #051899;
    --color-main-light: antiquewhite;
    --footer-bg: #030f58;
    --accent-color: #eadfd1;
}

@keyframes DecoAnimation {
    from {
        color: black;
    }

    to {
        color: var(--color-body);
    }
}

@keyframes TitleAnimation {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}


/* MAIN */
body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;


    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-body);
    margin: 0 auto;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--color-body);
}

/* HEADER */

h1 {
    font-size: 40px;
    font-weight: bold;
    animation: TitleAnimation 2s;
}

.title-deco:hover {
    animation: DecoAnimation 1s;
    animation-duration: 2s;
}

header {
    margin-bottom: 40px;
    background-color: var(--color-main-light);
    background: linear-gradient(to bottom, var(--color-main-light), var(--color-body));
}

.desritpion {
    color: var(--accent-color);
    padding: 10px;
    background-color: transparent;
    box-shadow: 0 20px 20px #0000001a;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}

/* FOOTER */

footer {
    color: var(--color-main-light);
    padding-top: 30px;
    background-color: var(--footer-bg);
    background: linear-gradient(to top, var(--footer-bg), var(--color-body));
    margin-top: auto;
}

.git-link {
    text-decoration: none;
    color: var(--color-main-light);
}


/* INPUT */
.auth-button {
    background: transparent;
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.auth-button:hover {
    color: var(--accent-color);
}

input {
    background: transparent;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    transition: all 0.3s ease;
}

input:hover {
    background: var(--accent-color);
}